# Data Science Tools and Ecosystem

In this notebook, we will summarized Data Science Tools and Ecosystem.

**Objetives:**
* List popular languages for Data Science
* List commonly used bibliotecas used by Data Science
* Create a markdown cell with a table of Data Science tools
* Arithmetic expression examples

Some of the popular languages that Data Scientists use include:

    1. Python
    2. R
    3. SQL

Some of the most used libraries used nowadays by Data Scientists are:

    1. Scikit-learn
    2. Pandas
    3. TensorFlow

| Data Science Tools |
| --- |
| MySQL |
| Kubernetes |
| ModelDB |

### Below are a few examples of evaluating arithmetic expressions in Python

result_1 = 5+3 = 8

result_2 = 10/2 = 5

result_3 = 2*2 = 4

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
José María Cases